@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Para Saber Mais Acesse Nosso <a href="https://github.com/Kayky933/Projetos-C-sharp/tree/master/Projeto_MVC">GitHub</a>.</p>
</div>
